.top{
    background-color: black;
    color:whitesmoke;
}
.mid{
    text-align: center;
    background-color: purple;
    color: whitesmoke;
    font-style: italic;
}
.bot{
    text-align: right;
    text-decoration: underline;
    background-color: teal;
    color: purple;
}